{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="pg-wrap mt-5">
    <div class="container">
      <h2>Contact Us</h2>
      <p>Use the form below to contact us...</p>
      <form method="post" action="{% url 'contact' %}">
        {% csrf_token %}
        <div class="form-group">
          <label>Full Name</label>
          <input name="sender_full_name" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Email Address</label>
          <input name="sender_email_address" type="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Details</label>
          <textarea name="email_message" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}